<div class="container">
  <ul class="sortable-list">
    <% @list.each do |item| %>
      <li>[<%= item.position %>] <%= item.name %></li>
    <% end %>
  </ul>
</div>

<div id="submit-buttons">
  <form action="/" method="get">
    <input type="submit" value="Reset">
  </form>
  <form action="/" method="post">
    <input type="submit" value="Save" >
  </form>
</div>